{% extends 'base.html' %}
{% load bootstrap4 %}


{% block content-table %}

     <h5>Evaluacion</h5>

     <a href="{% url 'evaluacion' %}"> <i class="btn btn-success btn-lg">Agregar</i> </a>
     <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Nota final</th>
                <th>Tipo de Evaluacion</th>
                <th>Modulo</th>
                <th>Ponderacion</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>

            {% for i in datos  %}
            <tr>
                <td> {{ i.id }} </td>
                <td> {{ i.nota_final }} </td>
                <td> {{ i.tipo_evaluacion }} </td>
                <td> {{ i.modulo }} </td>
                <td> {{ i.ponderacion }} </td>
                <td> {{ i.fecha }} </td>
                <td> <a href="{% url 'evaluacionupdate' %}?id={{ i.id }}"> <i class="btn btn-warning">Editar</i>
                </a>&nbsp;&nbsp;&nbsp;<a href="{% url 'evaluaciondelete' %}?id={{ i.id }}">
                <i class="btn btn-danger">Eliminar</i></a> </td>
            </tr>
            {% endfor %}

        </tbody>
     </table>

{% endblock %}


{% block javacript %}

{% endblock %}
