{% extends 'base.html' %}
{% load bootstrap4 %}


{% block content-table %}

     <h5>Item</h5>

     <a href="{% url 'item' %}"> <i class="btn btn-success btn-lg">Agregar</i> </a>
     <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Descripcion</th>
                <th>Puntaje</th>
                <th>Ponderacion</th>
                <th>Evaluacion</th>
            </tr>
        </thead>
        <tbody>

            {% for i in datos  %}
            <tr>
                <td> {{ i.id }} </td>
                <td> {{ i.descripcion }} </td>
                <td> {{ i.puntaje }} </td>
                <td> {{ i.ponderacion }} </td>
                <td> {{ i.evaluacion }} </td>
                <td> <a href="{% url 'itemupdate' %}?id={{ i.id }}"> <i class="btn btn-warning">Editar</i>
                </a>&nbsp;&nbsp;&nbsp;<a href="{% url 'itemdelete' %}?id={{ i.id }}">
                <i class="btn btn-danger">Eliminar</i></a> </td>
            </tr>
            {% endfor %}

        </tbody>
     </table>

{% endblock %}


{% block javacript %}

{% endblock %}