{% extends 'base.html' %}
{% load bootstrap4 %}


{% block content-table %}

     <h5>Carrera</h5>

     <a href="{% url 'tipo_evaluacion' %}"> <i class="btn btn-success btn-lg">Agregar</i> </a>
     <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>

            {% for i in datos  %}
            <tr>
                <td> {{ i.id }} </td>
                <td> {{ i.nombre }} </td>
                <td> <a href="{% url 'tipo_evaluacionupdate' %}?id={{ i.id }}"> <i class="btn btn-warning">Editar</i>
                </a>&nbsp;&nbsp;&nbsp;<a href="{% url 'tipo_evaluaciondelete' %}?id={{ i.id }}">
                <i class="btn btn-danger">Eliminar</i></a> </td>
            </tr>
            {% endfor %}

        </tbody>
     </table>

{% endblock %}


{% block javacript %}

{% endblock %}