{% extends 'base.html' %}
{% load bootstrap4 %}


{% block content-table %}

     <h5>Tipo de Evaluacion</h5>


     <table class="table">
        <thead class="thead-dark">
            <tr>

                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>

            {% for i in datos  %}
                <tr>

                    <td> {{ i.nombre }} </td>

                </tr>
            {% endfor %}

        </tbody>
     </table>
{% endblock %}

{% block content-form %}

    <form method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {% bootstrap_form formulario %}
        {% buttons submit='ACEPTAR' reset='CANCELAR'%} {% endbuttons %}


    </form>

{% endblock %}