{% extends 'base.html' %}
{% load bootstrap4 %}


{% block content-table %}

     <h5>Tipo de usuario</h5>


     <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>

            {% for i in datos  %}
            <tr>
                <td> {{ i.id }} </td>
                <td> {{ i.nombre }} </td>
            </tr>
            {% endfor %}

        </tbody>
     </table>

{% endblock %}


{% block content-form %}

    <form method="post" enctype="multipart/form-data">

        {% csrf_token %}
        <h1>Se ha eliminado el dato correctamente!</h1>

    </form>

{% endblock %}



{% block javacript %}

{% endblock %}
