{% extends 'base.html' %}
{% load bootstrap4 %}


{% block content-table %}

     <h5>Universidad</h5>

    <a href="{% url 'universidad' %}"> <i class="btn btn-success btn-lg">Agregar</i> </a>

     <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>ciudad</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>

            {% for i in datos  %}
            <tr>
                <td> {{ i.id }} </td>
                <td> {{ i.nombre }} </td>
                <td> {{ i.ciudad }} </td>
                <td> <a href="{% url 'universidadupdate' %}?id={{ i.id }}"> <i class="btn btn-warning">Editar</i>
                </a>&nbsp;&nbsp;&nbsp;<a href="{% url 'universidaddelete' %}?id={{ i.id }}">
                <i class="btn btn-danger">Eliminar</i></a> </td>
            </tr>
            {% endfor %}

        </tbody>
     </table>

{% endblock %}

{% block javacript %}

{% endblock %}
