{% extends 'base.html' %}
{% load bootstrap4 %}


{% block content-table %}

     <h5>Usuario</h5>

     <div class="float-right">
    <a href="{% url 'usuario' %}"> <i class="btn btn-success btn-lg">Agregar</i> </a>
    <p></p>
  </div>

     <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Rut</th>
                <th>Correo</th>
                <th>Carrera</th>
                <th>Rol</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>

            {% for i in datos  %}
            <tr>
                <td> {{ i.id }} </td>
                <td> {{ i.nombre }} </td>
                <td> {{ i.apellidos }} </td>
                <td> {{ i.rut }} </td>
                <td> {{ i.correo }} </td>
                <td> {{ i.carrera }} </td>
                <td> {{ i.tipo_usuario }} </td>
                <td> <a href="{% url 'usuarioupdate' %}?id={{ i.id }}"> <i class="btn btn-warning">Editar</i>
                </a>&nbsp;&nbsp;&nbsp;<a href="{% url 'usuariodelete' %}?id={{ i.id }}">
                <i class="btn btn-danger">Eliminar</i></a> </td>
            </tr>
            {% endfor %}

        </tbody>
     </table>

{% endblock %}



{% block javacript %}

{% endblock %}
